@model IEnumerable<ASP.NET_Core_TicketStore.Models.Airline>

@{
    ViewData["Title"] = "AllCategories";
}

<div>
    <a class="btn btn-warning" asp-controller="Tickets" asp-action="AdminPanel">Назад</a>
</div>

<br />
<div style="text-align: center;"><h4>Всі авіакомпанії</h4></div>
<p>
    <a class="btn btn-dark" asp-action="CreateAirline">Додати</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDesc)
            </td>
            <td>
                @Html.ActionLink("Редактувати", "EditAirline", new { id = item.Id }, new { @class = "btn btn-dark" }) 
                @Html.ActionLink("Видалити", "DeleteAirline", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>


